export PLATFORM_ENV=development

export WORKER_NAME=sd_webui_proxy_worker
export RABBIT_URL=
export EXCHANGE_NAME=

export MAIN_MODELS_PATH=/stable-diffusion-webui/models
export CONTROLNET_EXTENSION_MODELS_PATH=/stable-diffusion-webui/extensions/sd-webui-controlnet/models
export ANNOTATOR_MODELS_PATH=/stable-diffusion-webui/extensions/sd-webui-controlnet/annotator/downloads/clip_vision

