export PLATFORM_ENV=development

export MAIN_MODELS_PATH=/stable-diffusion-webui/models
export CONTROLNET_EXTENSION_MODELS_PATH=/stable-diffusion-webui/extensions/sd-webui-controlnet/models
export ANNOTATOR_PATH=/stable-diffusion-webui/extensions/sd-webui-controlnet/annotator/downloads/clip_vision