apiVersion: apps/v1
kind: Deployment
metadata:
  name: sd-webui-server
spec:
  selector:
    matchLabels:
      component: sd-webui-server
  replicas: ${POD_REPLICAS_SD_WEBUI_SERVER}
  template:
    metadata:
      labels:
        component: sd-webui-server
    spec:
      nodeSelector:
        intent: gpu-machines
      volumes:
      - name: sd-webui-pv
        persistentVolumeClaim:
          claimName: ${PERSISTENT_VOLUME_CLAIM_NAME}
      containers:
      - name: sd-webui-server
        image: "$DOCKER_REGISTRY/$ECR_NAMESPACE/$SERVICE_NAME:$TAG"
        imagePullPolicy: Always
        tty: true
        command: 
        volumeMounts:
          - name: sd-webui-pv
            mountPath: /hf-home
            subPath: sd-webui-hf-home
          - name: sd-webui-pv
            mountPath: /stable-diffusion-webui/models/
            subPath: sd-webui-models
          - name: sd-webui-pv
            mountPath: /stable-diffusion-webui/extensions/sd-webui-controlnet/models
            subPath: sd-webui-controlnet-models
          - name: sd-webui-pv
            mountPath: /stable-diffusion-webui/repositories/CodeFormer/weights
            subPath: sd-webui-codeformer-models
        resources:
          requests:
            cpu: 4000m
            memory: 16Gi
          limits:
            cpu: 4000m
            memory: 16Gi
        env:
          - name: START_PROXY_WORKER
            value: "${START_PROXY_WORKER}"
          - name: WORKER_NAME
            value: "sd_webui_proxy_worker"
          - name: RABBIT_URL
            value: "${RABBIT_URL}"
          - name: EXCHANGE_NAME
            value: "${EXCHANGE_NAME}"

---
apiVersion: v1
kind: Service
metadata:
  name: sd-webui-server
spec:
  type: ClusterIP
  selector:
    component: sd-webui-server
  ports:
  - protocol: TCP
    port: 80
    targetPort: 7860
